@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */

:root {
  --color-primary: #1E3A8A; /* Updated to blue-700 */
  --color-secondary: #1E40AF; /* You can adjust this if needed */
  --color-accent: #F59E0B; /* Keep as is or adjust */
  --color-background: #0D0D0D; /* Background color */
  --color-foreground: #F5F5F5; /* Text color */
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
